<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- FormMode: Normal | Fullscreen -->
    <add key="FormMode" value="Normal" />
    <!-- Values used when FormMode = Normal -->
    <add key="FormWidth" value="1185" />
    <add key="FormHeight" value="715" />
  </appSettings>
</configuration>